* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 14px;
    background-color:black;
}

a {
    text-decoration: none;
}

a, p, h1, span {
    color:white;
}
.red {
    color:#E02020;
}
header {
    background-color: black;
}

.center {
    text-align: center;
}

.icon {
    width: 18px;
}

header ul > li, .second div ul > li {
    display: inline-block;
}

.center > ul {
    text-align: right;
}

h1 {
    font-size: 2.8rem;
    padding: 30px 0 15px;
    font-family: 'Cormorant Garamond', serif;
}
.logo span {
    color: #E02020;
}

.center {
    position: relative;
}
.search {
    position: absolute;
    top: 52px;
    left: 84.2%;
    width: 100px;
    color: rgb(158, 158, 158);
}

.searchIcon {
    position: absolute;
    bottom: -1px;
    left: -8px;
}

nav {
    background-color: #202020;
    padding: 14px 0;
}

.mainMenu li {
    width: 100px;
    margin-right: 5%;
}
.mainMenu li:hover a {
    color: #E02020;
}

.mainMenu li:last-child {
    margin-right: 0;
}


.mainMenu li a, .img a div p {
    font-family: 'Libre Baskerville', serif;
}
.first > div > div > p, .second > div > div p:first-child, .second > div > div:last-child p:first-child {
    font-family: 'Cormorant Garamond', serif;
}
.first > div > div > p, .search, .second div ul li a, .img a div span, .second > div > div:last-child a, .second > div > div p:nth-of-type(2), .second > div > div p:last-child,.second > div > div:last-child p:last-child {
    font-family: 'Source Sans Pro', sans-serif;
}


.first > div {
    background-color: #2b5797;
	background-image: url('../img/theme_img1.jpg');
	background-size: cover;
	background-position: center;
    background-attachment: scroll;
    height: 710px;
    width:100%;
}
.first > div > div {
    text-align:left;
    width: 670px;
    padding: 520px 0 0 100px;
}

.first > div > div > p {
    line-height: 1.8;
    font-size: 1rem;
    font-style: italic;
    text-indent: 50px;
}
.second > div {
    padding: 200px 0 280px;
}

.second div ul {
    text-align: center;
    padding: 70px 0 120px;

}
.second div ul li a {
    font-size: 1.2rem;
}

.second div ul li a {
    padding-bottom: 5px;
    margin-right: 43px;
    position: relative;
}

.second div ul li a:hover {
    color: #E02020;
    border-bottom: 1px solid #E02020;
}
.second div ul li:first-child a {
    color: #E02020;
    border-bottom: 1px solid #E02020;
    padding-bottom: 5px;
    margin-right: 45px;
    text-align: right;
    position: relative;
} 
.second div ul li a:hover:before, .second div ul li:first-child a:before {
    content:"";
    position: absolute;
    background: url(../img/star_on.png) no-repeat;
    background-size:contain;
    width:100px;
    height: 20px;
    left: -24px;
    top: 2.5px;
}

.second div ul li:last-child a {
    margin-right: 0;
}

.second > div > div:nth-of-type(1) {
    width: 54%;
    margin: 0 auto;
}
.second > div > div:nth-of-type(1) p {
    text-align: center;
}
.second > div > div:nth-of-type(1) p:first-child {
    font-weight: bold;
    font-size: 2rem;
}
.second > div > div:nth-of-type(1) p:nth-of-type(2) {
    padding: 65px 0 30px;
}

.second > div > div:nth-of-type(1) p:nth-of-type(2), .second > div > div p:nth-of-type(3) {
    font-size: 1.1rem;
    line-height: 1.7;
}

.second > div > div:last-child {
    background-color:rgba(97, 97, 97, 0.84);
    padding: 40px 0 50px 0;
    text-align: center;
    margin-top: 20px;
}
.second > div > div:last-child p:first-child {
    font-size:1.5rem;
    font-weight: bold;
}
.second > div > div:last-child p:last-child {
    font-size: 1.2rem;
    padding-top: 10px;
    font-style: italic;
}



.third {
    background-color: black;
    padding-top: 50px;
}
.third div {
    width: 98%;
    margin:0 auto;
}

.img {
    display:flex;
}
.img a {
    width: 100%;
}

.img a img{
    width: 98%;
}

.img a {
    display: block;
    position: relative;
}
.img a div {
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    width: 98%;
    background-color:rgba(97, 97, 97, 0.84);
}
.img a:nth-of-type(1) div,.img a:nth-of-type(2) div, .img a:nth-of-type(3) div{
    bottom: 0;
}
.img a div p {
    font-size: .8rem;
    color:white;
    text-align: center;
}
.third > div > div:last-child a {
    font-size: 1.1rem;
    color:white;
    border-bottom: 1.5px solid #E02020;
}
.third > div > div:last-child a {
    padding: 5px 26px 10px 0;
}
.third > div > div:last-child a:hover {
    color: #E02020;
}
.third > div > div:last-child a:after {
    content:"";
    position: absolute;
    background: url(../img/arrow.png) no-repeat;
    background-size:contain;
    width:100px;
    height: 20px;
}
.third > div > div:last-child {
    position:relative;

}
.third > div > div:last-child a:after {
    right: -90px;
    top: 20px;
}

.third > div > div:last-child {
    text-align: right;
    margin: 130px -90px 0;
    height: 200px;
}

.position {
    padding: 100px 0 50px 0;
    width: 73%;
    margin: 0 auto;
}
.position div {
    display: flex;
    position: relative;
}
.position div {
    cursor: pointer;
}

.position div img:nth-of-type(2) {
    width: 100%;
    display: block;
}

.arrowIcon {
    width:50px;
    height: 50px;
    display: block;
    position: absolute;
}
.position div img:nth-of-type(1) {
    left: -120px;
    top: 45%;
}
.position div img:nth-of-type(3) {
    right: -120px;
    top: 45%;
}

#footer {
    padding: 50px;
    background-color: #202020;
}
#footer div {
    width: 90%;
    margin: 0 auto;
}
#footer div p {
    font-size: 1.3rem;
}

#footer div a {
    display: block;
    font-weight: bold;
}
#footer div a:hover {
    color: #E02020;
}
#footer div a:hover span {
    border-bottom: 1px solid #E02020;
}

#footer div p, #footer div a, #footer div a span {
    color: white;
}
#footer div a span {
    font-style: italic;
    font-weight: normal;
}
#footer div a:nth-of-type(1) {
    margin: 15px 0 10px 0;
}

@media (max-width:980px) {
    .first > div > div {
        width: 90%;
        margin: 0 auto;
        padding: 520px 0 0 0;
    }
    .arrowIcon {
        width:30px;
        height: 30px;
    }
    .position div img:nth-of-type(1) {
        left: -50px;
    }
    .position div img:nth-of-type(3) {
        right: -50px;
    }
    .second > div > div:nth-of-type(1) {
        width: 85%;
    }
}

@media (max-width:740px) {
    .search {
        text-indent: -9999px; 
        left: 93%;
    }
    .icon {
        width: 26px;
    }
    h1.logo:before {
        content:"";
        position: absolute;
        background: url(../img/hamburgerMenu.png) no-repeat;
        background-size:contain;
        width:100px;
        height: 31px;
        left: 4%;
        top: 42px;
    }
    .center nav {
        display: none;
    }
    .big div:first-child {
        padding-right: 0;
    }
    .small div:last-child {
        padding-left: 0;
    }
    .img {
        display:block;
    }
    .img a {
        margin-bottom: 40px;
    }
    .second > div {
        padding-bottom: 180px;
    }
    #footer div p {
        font-size: 1.6rem;
    }
    #footer div a {
        font-size: 1.1rem;
    }
}