body {
    background-color: rgba(0,0,0,.92);
    margin: 65px 0;
    text-align:center;
    font-size: 15px;
}
h1 {
    font-family: cortado, sans-serif;
    margin: 30px 0;
    color: red;
    font-size: 4.3rem;
    word-spacing: 2rem;
}

header {
    margin: 50px 0;
}
header > a {
    font-size: 1.5rem;
    text-decoration: underline wavy white;
    letter-spacing: .3rem;
    font-style: italic;
    font-family: macho, sans-serif;
    text-transform: uppercase;
}

main, h4 {
    color: white;
}
main div:nth-child(2), main div:nth-child(3), main div:nth-child(5), main div:nth-child(6) {
    font-family: sanvito-pro, sans-serif;
}
main div:first-child, main div:nth-child(8) {
    font-family: macho, sans-serif;
    font-size:  1.4rem;
}

div {
    font-size: 1.3rem;
    margin: 70px 0;
}
.monologue, span {
    font-style:italic;
}

.repeat {
    color: coral;
    font-family: mahalia, sans-serif;
    line-height: .9;
    font-size: 1.5rem;
}

.yellow {
    color: gold;
    font-family: macho, sans-serif;
}

a {
    font-size: 18px;
    color: white;
}
img {
    width:auto;
    height:440px;
}