body {
    margin:auto;
    width: 90%;
    max-width: 800px;
}

@media (min-width:640px) {
    body {
        background-color: #eaf6ff;
    }
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width:500px) {
    h1 {
        font-size: 1.5rem;
    }
}

#fixed-size-grid-items ul, #stretchable-grid-items ul {
    display: flex;
    flex-wrap: wrap;
    padding-left:0;
}

#fixed-size-grid-items ul li aside {
    width: 170px;
    margin: 10px;
    font-size: 0.8rem;
}

#fixed-size-grid-items ul li, #stretchable-grid-items ul li  {
    list-style-type: none;
    display: block;
}

#stretchable-grid-items ul {
    margin: 1rem -10px;
}

#stretchable-grid-items ul li {
    width: 100%;
    font-size: 0.8rem;
}


#stretchable-grid-items ul li aside {
    margin: 10px;
}

@media (min-width:480px) {
    #stretchable-grid-items ul li {
        width: 50%;
    }
}

@media (min-width:640px) {
    #stretchable-grid-items ul li {
        width: 25%;
    }
}